.catalog {
    &-products {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        row-gap: 40px;
        column-gap: 40px;
        margin-bottom: 74px;
        min-height: calc(100vh - 650px);
        align-content: flex-start;

        @include laptop {
            row-gap: 24px;
            column-gap: 24px;
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 20px;
            column-gap: 20px;
            margin-bottom: 40px;
        }

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 16px;
            column-gap: 16px;
            margin-bottom: 32px;
        }

        /*
        @include small-mobile {
            grid-template-columns: 1fr;
        }
        */
    }
}