.perfume {

    &-container {
        display: grid;
        grid-template-areas: 'content image actions';
        align-items: center;
        gap: 107px;
        margin-top: 52px;
        margin-bottom: 68px;
        padding-right: 264px;
        padding-left: 264px;

        @include max-desktop {
            gap: 30px;
                    padding-right: 115px;
                        padding-left: 115px;
        }

        @include laptop {
            padding-right: 40px;
            padding-left: 40px;
            grid-template-areas:
                'image content'
                'image actions';
            grid-template-columns: auto 1fr;
            align-items: start;
        }

        @include tablet {
            grid-template-areas:
                'image'
                'content'
                'actions';
            grid-template-columns: 1fr;
            padding-right: 24px;
            padding-left: 24px;
            gap: 32px;
            margin-top: 24px;
        }

        @include mobile {
            padding-right: 16px;
            padding-left: 16px;
            gap: 24px;
        }
    }

    &-content {
        grid-area: content;
        width: 450px;

        @include laptop {
            width: 100%;
            margin-top: 60px;
        }

        @include tablet {
            width: 100%;
            margin-top: 0;
        }
    }

    &-reviews {

        &_count {
            font-weight: 500;
            font-size: 16px;
            line-height: 113%;
        }
    }

    &-titles {
        margin-top: 8px;
        margin-bottom: 24px;
    }

    &-title {
        font-weight: 600;
        font-size: 52px;
        line-height: 120%;

        @include laptop {
            font-size: 40px;
        }

        @include tablet {
            font-size: 36px;
        }

        @include mobile {
            font-size: 28px;
        }
    }

    &-brand {
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        opacity: 0.6;

        @include laptop {
            font-size: 22px;
        }

        @include mobile {
            font-size: 18px;
        }
    }

    &-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 44px;

        &_price {
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;

            @include mobile {
                font-size: 24px;
            }
        }

        &_volume {
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            opacity: 0.8;

            @include mobile {
                font-size: 18px;
            }
        }
    }

    &-description {
        font-weight: 500;
        font-size: 17px;
        line-height: 149%;
        color: #000;
    }

    &-image {
        grid-area: image;

        img {
            width: 528px;
            height: 682px;
            object-fit: contain;

            @include max-desktop {
                max-width: 420px;
            }

            @include laptop {
                width: 100%;
                max-width: 300px;
                height: auto;
            }

            @include tablet {
                display: block;
                margin: 0 auto;
                max-width: 240px;
            }

            @include mobile {
                max-width: 260px;
            }
        }
    }

}

.perfume {

    &-actions {
        grid-area: actions;
        width: 394px;

        @include laptop {
            width: 100%;
        }

        @include tablet {
            width: 100%;
        }
    }
}

.volume {

    &-list {
        display: flex;
        gap: 14px;
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 17px;
        line-height: 149%;
        text-align: center;
        color: #000;

        @include tablet {
            flex-wrap: wrap;
        }
    }

    &-item {
        cursor: pointer;
    }

    &-input {
        appearance: none;
        position: absolute;
    }

    &-input:checked+&-check {
        color: #8056dc;
        border: 1px solid #8056dc;
    }

    &-check {
        display: block;
        padding-top: 14px;
        width: 53px;
        height: 53px;
        border: 1px solid #000;
        box-sizing: border-box;
    }
}

.addCart {
    padding: 14px 62px;
    margin-bottom: 32px;
    background: #000;
    font-weight: 600;
    font-size: 22px;
    color: $second;
    border: none;
    cursor: pointer;

    @include tablet {
        width: 100%;
        padding: 14px 24px;
    }

    @include mobile {
        font-size: 18px;
    }
}

.perfume-raiting {
    display: flex;
    align-items: center;
}

.perfume-raiting_value,
.perfume-review_value {
    font-weight: 500;
    font-size: 16px;
    line-height: 113%;
}

.point {
    margin-right: 7px;
}