.chartCard {
    margin: 40px auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 17px;
    padding: 44px 36px;
    width: 100%;
    height: 554px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
}

.subtitle {
    margin-top: 8px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 113%;
    opacity: 0.6;
}

.footer {
    margin-top: 73px;
    font-weight: 600;
    font-size: 16px;
    line-height: 113%;
    text-align: center;
    color: #8056dc;
}