.header {
    &-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        color: $second;


    }

    &-logo {
        text-align: center;
    }

    &-line {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: 1px;
        background-color: $second;
        opacity: 0.4;
    }

    &-nav {

        &_list {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        &_item {}

        &_link {
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
        }
    }

}

.text-black {
    color: $text !important;
}

.active-black {
    border-bottom: 1.5px solid $text;
}

.line-black {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 1px;
    background-color: $text;
    opacity: 0.4;
}
