

.quiz-button {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #8056dc;
    border: 1px solid #8056dc;
    border-radius: 40px;
    padding: 10px;

    &:hover {
        color: $second;
        background-color: #8056dc;
        opacity: 50%;
        transition: all 0.3s ease-in;
    }
}