.ratingAndReviews {
    margin-bottom: 120px;
}

.rating {
    display: flex;
    margin-bottom: 56px;

    &_stars {
        display: flex;
        gap: 5px !important;
        margin-bottom: 16px !important;
        padding: 0 !important;
    }

    &_star {
        svg {
            width: 43px !important;
        }
    }

    &-title {
        margin-bottom: 68px;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
    }

    &-summary {
        display: flex;
        flex-direction: column;
    }

    &-value {
        margin-bottom: 4px;
        font-weight: 800;
        font-size: 36px;
        line-height: 113%;
    }

    &-reviews {

        &_count {
            font-weight: 500;
            font-size: 24px;
            line-height: 113%;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &-details {
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
        justify-content: center;
    }

    &-label {
        margin-right: 0.5px;
        font-weight: 500;
        font-size: 20px;
        line-height: 113%;
    }

    &-bar {
        border-radius: 39px;
        width: 205px;
        height: 8px;
        background: #d9d9d9;

        &_fill {
            height: 100%;
            border-radius: 39px;
            background-color: #8056DC;
            transition: width 0.3s ease-in-out;
        }

    }

    &-percent {
        width: 50px;
        margin-left: 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 113%;
        text-align: right;
        opacity: 0.66;
    }

    &-star {
        margin-right: 9px;

        svg {
            width: 25px !important;
        }

    }
}

.separating {

    &-line {
        width: 1px;
        background: #ccc;
        margin: 0 76px;
    }
}

.btn {

    &-review {
        margin-top: 56px;
        padding: 14px 105.5px;
        background: #000;
        font-weight: 600;
        font-size: 22px;
        color: $second;
    }
}