.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-card {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    max-width: 600px;
    width: 90%;
    max-height: 85vh;
    display: flex;
    flex-direction: column;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.3s ease-out;
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.preferences-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    margin-top: 24px;
    overflow-y: auto;
    padding-right: 10px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(123, 97, 255, 0.3);
        border-radius: 999px;
    }
}

.pref-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pref-label {
    font-weight: 500;
    font-size: 18px;
    line-height: 113%;
}

.pref-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.badge {
    background: #f6f6f4;
    border-radius: 40px;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.05);

    &--note {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-actions {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
}

.edit-button {
    background: $text;
    color: $second;
    border: none;
    padding: 12px 24px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        opacity: 0.7;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    &:active {
        background: $text;
    }

}