.periods {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    margin: 32px auto;
    border-radius: 100px;
    padding: 4px 8px;
    background: rgba(118, 118, 128, 0.12);
}

.periodBtn {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 15px 38px;
    transition: all 0.3s ease-out;

    &:hover {
        background-color: rgba(0, 0, 0, 0.06);
        border-radius: 100px;
    }
}

.activeBtn {
    font-weight: 700;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);

    &:hover {
        background-color: #fff;
    }
}